[Unit]
Description=WSO2 IS Service
Requires=network.target
After=network.target

[Service]
Environment=JAVA_HOME=/home/ubuntu/jdk1.8.0_131
ExecStart=/bin/bash -c "sh /home/ubuntu/is/wso2is-5.3.0/bin/wso2server.sh"
ExecStop=/bin/bash -c "sh /home/ubuntu/is/wso2is-5.3.0/bin/wso2server.sh stop"
Restart=on-failure

[Install]
WantedBy=multi-user.target